@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');
@import url('http://fonts.cdnfonts.com/css/choco-cookies');

:root {
    --bg: #0E0F13;
    --primary: #FAFCFD;
    --secondary: #A0A2A6;
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Choco Cookies', sans-serif;
    --bold: 700;
    --semi-bold: 600;
    --medium: 500; 
    --regular: 400;
    --t1: 64px;
    --t2: 60px;
    --t3: 38px;
    --t4: 30px;
    --t5: 24px;
    --t6: 20px;
    --padding-x: 120px;
    --padding-y: 60px;
    --padding-sub: 30px;
}

body{
    background: var(--bg);
    color: var(--primary);
    font-family: var(--main-font);
    padding: var(--padding-y) var(--padding-x);
    background-image: url("");
}

