@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');
:root {
    --bg: #0E0F13;
    --primary: #FAFCFD;
    --secondary: #A0A2A6;
    --
}
body{
    background: var(--bg);
    color: var(--primary);
}