@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');
@import url('http://fonts.cdnfonts.com/css/choco-cookies');

:root {
    --bg: #0E0F13;
    --primary: #FAFCFD;
    --secondary: #A0A2A6;
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Choco Cookies', sans-serif;
    --bold: 700;
    --medium: 500; 
}
body{
    background: var(--bg);
    color: var(--primary);
    font-family: var(--main-font);
}