@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

:root{
    --primary: #02B49E;
    --black-1: #00312F;
    --black-2: #334B4A;
    --white: #E0F6EC;
    --poppins: 'Poppins', sans-serif;
    --t1: 20px;
    --t2: 18px;
    --semi-bold: 600;
    --bold: 700;
    --ls-1: 3px;
    --ls-2: 2px;
}

*{
    font-family: var(--poppins);
    font-size: var(--t2);
    font-weight: var(--semi-bold);
    letter-spacing: var(--ls-2);
}

body{
    height:100%;
    width:100%;
    background: var(--primary);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    position: fixed;
    bottom: 50;
}

div button{
    background: var(--black);
    color: var(--white);
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

div button:hover{
    background: var(--white);
    color: var(--black);
    transition: .5s;
    font-weight: var(--bold);
    letter-spacing: var(--ls-1);
    font-size: var(--t1);

}