@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

:root{
    --primary: #02B49E;
    --font: 'Poppins', sans-serif;
}

*{
    font-family: var(--font) !important;
    
}

body{
    height:100%;
    width:100%;
    background: var(--primary);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    position: fixed;
    bottom: 50;
}