@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

:root{
    --bg-1: #1EA39E;
    --bg-2: #1EA59F;
    --black-1: #00312F;
    --black-2: #000000;
    --white: #E0F6EC;
    --poppins: 'Poppins', sans-serif;
    --t1: 20px;
    --t2: 18px;
    --semi-bold: 600;
    --bold: 700;
    --ls-1: 3px;
    --ls-2: 2px;
}

*{
    font-family: var(--poppins);
    font-size: var(--t2);
    font-weight: var(--semi-bold);
    letter-spacing: var(--ls-2);
}

body{
    height:100%;
    width:100%;
    background: var(--bg-1);
    /* background-image: url(../assets/images/platypus.png); */
    background-image: url(https://cdn.wallpapersafari.com/35/22/Y9WFlq.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    position: fixed;
    bottom: 50;
}

/* div button{
    background: var(--black-1);
    color: var(--white);
    height: 50px;
    width: 250px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

div button:hover{
    background: var(--black-2);
    transition: .3s;
    font-weight: var(--bold);
    letter-spacing: var(--ls-1);
    font-size: var(--t1);
} */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cdd;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--black-1);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--black-1);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}