body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body div{
    background: red;
    height: 500px;
    width: 500px;
    border: solid thin blue;
    position: absolute;
    bottom: -30%;
    text-align: center;
    color: white;
}