body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

body div{
    background: red;
    height: 50%;
    width: 80%;
    border: solid thin blue;
    position: absolute;
    left: 10%;
    bottom: 10px;
    text-align: center;
    color: white;
}